<p>
  stepper works!
</p>
<mat-horizontal-stepper>
  <mat-step label="Step1">
    <h4>Step1 Content</h4>
  </mat-step>
  <mat-step label="Step2">
    <h4>Step2 Content</h4>
  </mat-step>
  <mat-step label="Step3">
    <h4>Step3 Content</h4>
  </mat-step>
</mat-horizontal-stepper>

<mat-vertical-stepper>
  <mat-step label="Step1">
    <h4>Step1 Content</h4>
  </mat-step>
  <mat-step label="Step2">
    <h4>Step2 Content</h4>
  </mat-step>
  <mat-step label="Step3">
    <h4>Step3 Content</h4>
  </mat-step>
</mat-vertical-stepper>
