<!--The content below is only a placeholder and can be replaced.-->
<div>
  <a routerLink="/dashboard">dashboard</a>
  <h1>
    Welcome to {{title}}!
  </h1>

  <h2>Icon</h2>
  <i class="material-icons">person</i>
  <h3>import MatIconModule use mat-icon tag</h3>
  <!--import { MatIconModule }-->
  <mat-icon>person</mat-icon>
  <mat-icon color="primary">thumb_up</mat-icon>
  <mat-icon color="accent">info</mat-icon>
  <mat-icon color="warn">warning</mat-icon>
  
  <h2>Button</h2>
  <h3>扁平化按鈕</h3>
  <button mat-button>我是按鈕</button>
  <button mat-button color="primary">Primary</button>
  <button mat-button color="accent">Accent</button>
  <button mat-button color="warn">Warn</button>
  <button mat-button disabled>Disabled</button>
  <a mat-button>Link</a> 
  <h3>凸起的按鈕(mat-raised-button)</h3>
  <button mat-raised-button>我是raised按鈕</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button disabled>Disabled</button>
  <h3>Icon Button</h3>
  <button mat-raised-button color="primary"><mat-icon>thumb_up</mat-icon></button>
  <button mat-icon-button color="primary"><mat-icon>thumb_up</mat-icon></button>
  <button mat-raised-button mat-icon-button color="primary"><mat-icon>thumb_up</mat-icon></button>
  <h3>浮動的動作按鈕(mat-fab / mat-min-fab)</h3>
  <button mat-fab><mat-icon>thumb_up</mat-icon></button>
  <button mat-fab color="primary"><mat-icon>thumb_up</mat-icon></button>
  <button mat-mini-fab color="accent"><mat-icon>thumb_up</mat-icon></button>
  <button mat-mini-fab color="warn"><mat-icon>thumb_up</mat-icon></button>
  <button mat-mini-fab disabled><mat-icon>thumb_up</mat-icon></button>
  <h3>Button Toggle ( mat-button-toggle )</h3>
 <mat-button-toggle-group #myAlignGroup="matButtonToggleGroup">
    <!-- button toogle所代表的值 -->
  <mat-button-toggle value="left">
    <mat-icon>format_align_left</mat-icon>
  </mat-button-toggle>
  <!-- 預設被選取 -->
  <mat-button-toggle value="center" checked="true">
    <mat-icon>format_align_center</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle value="right">
    <mat-icon>format_align_right</mat-icon>
  </mat-button-toggle>
  <!-- 不允許選擇的button toggle -->
  <mat-button-toggle value="justify" disabled>
    <mat-icon>format_align_justify</mat-icon>
  </mat-button-toggle>
 </mat-button-toggle-group>
 you Choose : {{myAlignGroup.value}}
<br />
 <!-- 加上multiple，則裡面的mat-buttong-toggle可以複選 -->
<!-- 加上vertical="true", 改變排列方式 -->
<mat-button-toggle-group multiple vertical="true">
  <mat-button-toggle value="bold" #buttonToggleBold>
    <mat-icon>format_bold</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle value="italic" checked="true" #buttonToggleItalic>
    <mat-icon>format_italic</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle value="underlined" checked="true" #buttonToggleUnderlined>
    <mat-icon>format_underlined</mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group>
粗體：{{ buttonToggleBold.checked }}、斜體：{{ buttonToggleItalic.checked }}、底線：{{ buttonToggleUnderlined.checked }}

</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a>
  </li>
  <li>
    <a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a>
  </li>
  <li>
    <a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a>
  </li>
</ul>

<router-outlet></router-outlet>
