<!--The content below is only a placeholder and can be replaced.-->

<a routerLink="/dashboard" mat-raised-button color="primary">dashboard</a>
<a routerLink="/button" mat-raised-button color="accent">button</a>
<ul>
  <li>
    <a mat-button target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a>
  </li>
  <li>
    <a mat-button target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a>
  </li>
  <li>
    <a mat-button target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a>
  </li>
</ul>

<router-outlet></router-outlet>
