/* You can add global styles to this file, and also import other style files */


/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/

body {
    margin: 0;
}

mat-toolbar a.active {
    color: #525252;
}

ui-view {
    display: block;
    min-height: 400px;
}
